{% load static %}

<html>
<head>
  <link rel="shortcut icon" href="{% static 'img/Logo.png' %}" >
  <title>Trella - Register</title>
  <link rel="stylesheet"href="{% static 'css/register.css' %}">
  <!-- Кодировка страницы -->
  <meta http-equiv="Content-type" content="text/html; charset=URF-8">
</head> 
<body background="{% static 'img/Bg_login.jpg' %}">
  <section>
    <div class= "form-box">
      <div class="form-value">
        <form action="">
          <h2>Регистрация</h2>
          <div class="inputbox">
            <!-- Поле для ввода имя пользователя -->
            <ion-icon name="person-circle-outline"></ion-icon>
            <input type="text" required>
            <label for="">Имя пользователя</label>
          </div>
          <div class="inputbox">
            <!-- Поле для ввода почты -->
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" required>
            <label for="">Почта</label>
          </div>
          <div class="inputbox">
            <!-- Поле лоя ввода номера телефона -->
            <ion-icon name="call-outline"></ion-icon>
            <input type="text" required value="+" maxlength="12">
            <label for="">Номер телефона</label>  
          </div>
          <div class="inputbox">
            <!-- Поле для ввода пароля -->
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" required>
            <label for="">Пароль</label>
          </div>
          <div class="inputbox">
            <!-- Поле для повтора пароля -->
            <ion-icon name="document-lock-outline"></ion-icon>
            <input type="password" required>
            <label for="">Повторите пароль</label>
          </div>
          <button>Зарегистрироваться</button>
          <div class="login">
            <p>Если у вас уже есть аккаунт <a href="{% url "login" %}"> Вход </a></p>
          </div>
        </form>
      </div>
    </div>
  </section>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>