.images {
    max-width: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: rgb(0, 0, 110);
}
.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: white;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: white;
}